<div class="contentlogin">
    <div class="loginbox">
        <h1 class="headlogin">Create user</h1>
        <form action="/create" method="POST">
            <input type="text" name="username" placeholder="Username...">
            <input type="password" name="password" placeholder="Password...">
            <input type="password" name="confirm_password" placeholder="Confirm Password...">
        <div id="alter2">
        <div class="button"><input type="submit" value="Create" class="loginsub"></div>
        </form>
        </div>
    </div>
</div>