<header>
<div class="sort">
    <a href="/home"><h1>New</h1></a>
	<a href="/title"><h1>Alphabetical</h1></a>
	<a href="/favorites"><h1>Favorite</h1></a>
	<a href="/post"><h1>New Post</h1></a>
</div>
<form action="/logout" method="POST">
	<input type="submit" value="Logout" class="logout">
</form>
</header>
<div class="content">
	<%posts.each do |i|%>
			<div onclick="window.location='view/' + <%= i[0]%>" class="box">
				<div class="box1">
					<p class="title"><%= i[2]%></p>
					<p class="desc"><%= i[3]%></p>
					<p class="creator"><%= i[1]%></p>
				</div>
			</div>
	<%end%>
</div>