<div class="contentlogin">
    <div class="loginbox">
        <h1 class="headlogin">Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username...">
            <input type="password" name="password" placeholder="Password...">
        <div id="alter">
        <div class="button"><input type="submit" value="Login" class="loginsub"></div>
        </form>
        <a href="/create"><div class="button">Create</div></a>
        </div>
    </div>
</div>