<header>
<div class="sort">
    <a href="/"><h1>New</h1></a>
    <a href="/hot"><h1>Score</h1></a>
    <a href="/title"><h1>Alphabetical</h1></a>
</div>
<div class="sign">
<a href="/login"><h1>Sign in</h1></a>
</div>
</header>
<div class="content">
	<%posts.each do |i|%>
			<div onclick="window.location='view/' + <%= i[0]%>" class="box">
				<div class="box1">
					<p class="title"><%= i[3]%></p>
					<p class="desc"><%= i[4]%></p>
				</div>
				<div class="likey">
					<i class="material-icons">keyboard_arrow_up</i>
					<p class="points"><%=i[2]%></p>
					<i class="material-icons">keyboard_arrow_down</i>
				</div>
			</div>
	<%end%>
</div>