body{
	background-color: #212121;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar { 
    display: none; 
}

header{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #191919;
}

.sort{
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

h1{
	font-size: 20px;
	height: 35px;
	color: rgba(255,255,255,0.8);
	margin: 0;
	padding: 0;
}

.box{
	background-color: lightgray;
	width: 95%;
	height: 125px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.boxpost{
	background-color: lightgray;
	width: 95%;
	height: 250px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

a{
	text-decoration: none;
	width: 250px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

a:hover{
	background-color: #212121;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 95%;
	padding-bottom: 30px;
}

p{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin: 10px 0 0 50px;
}

i{
	width: 24px;
	height: 24px;
	margin: -12px 0 0 0;
	color: black;
}

i:hover{
	background-color: darkgray;
}

.fav{
	height: 48px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.favbutton{
	height: 24px;
	width: 24px;
	border: 0;
	padding: 0;
	margin: 0 0 -12px 0;
	opacity: 0;
}

.contentlogin{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.loginbox{
	height: 30%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form{
	width: 200px;
}

input{
	width: 195px;
	height: 20px;
	margin-bottom: 20px;
}

.loginsub{
	height: 40px;
	margin-top: 20px;
	background-color: #191919;
	color: rgba(255,255,255,0.8);
	border: none;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 17px;
}

#alter{
	width: 200px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

#alter2{
	width: 200px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.button{
	height: 40px;
	width: 90px;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	background-color: #191919;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 17px;
}

.button:hover, .loginsub:hover, .logout:hover{
	background-color: #151515;
	cursor: pointer;
}

publishbtn:hover{
	background-color: #191919;
	cursor: pointer;
}

#alter a{
	margin: 0;
	padding: 0;
	height: 40px;
	width:90px;
}

.logout{
	width: 150px;
	height: 50px;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	background-color: #212121;
	border: none;
	margin: 0;
	padding: 0;
}

.home{
	margin-top: 50px;
}

.contentpost{
	height: calc(100vh - 100px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#titlepost{
	height: 30px;
	width: 300px;
}

#contentpost{
	height: 50vh;
	width: 800px;
	resize: none;
}

.publishbtn{
	height: 40px;
	width: 185px;
	margin-top: 20px;
	border: none;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	background-color: #151515;
	border: none;
}

.postform{
	height: 100%;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contentcomment{
	width: 100%;
	height: 125px;
	border: none;
	resize: none;
	padding: 0;
}

.commentform{
	width: 95%;
	height: 125px;
	margin-top: 30px;
	padding: 0;
}

.title{
	font-weight: bold;
	font-size: 30px;
	height: 30px;
}

.desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	color: black;
	opacity: 0.6;
	height: 40px;
}

.creator{
	font-style: italic;
	font-weight: bold;
}

.box1{
	width: 80%;
	height: 125px;
}

.box1post{
	width: 80%;
	height: 250px;
}

.errorbox{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titlepost{
	font-weight: bold;
	font-size: 30px;
	height: 30px;
}

.descpost{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	color: black;
	opacity: 0.6;
	height: 150px;
}

.creatorpost{
	font-style: italic;
	font-weight: bold;
}